spring:
  datasource:
    # Option 1: Supabase Direct Connection (chỉ IPv6)
    # url: jdbc:postgresql://db.<project-ref>.supabase.co:5432/postgres

    # Option 2: Supabase Session Pooler (hỗ trợ IPv4 - khuyên dùng)
    url: jdbc:postgresql://<pooler-host>:5432/postgres
    username: postgres.<project-ref>
    password: your_supabase_password

  mail:
    host: smtp.gmail.com
    port: 587
    username: your_email@gmail.com
    password: your_app_password
    from: OTP Service <your_email@gmail.com>
  jpa:
    show-sql: true

  data:
    redis:
      port: 6379
      host: localhost

jwt:
  secret: your_jwt_secret_here
